import(graphics)
exportPattern("^[^\\.]")
useDynLib(SoDA)

exportClass(DateTime, GPSTrack)
exportClass(track, track3)
exportMethods(plot)
exportMethods(show)
exportClass(randomGeneratorState, simulationResult, demoSource, binaryRep)


